$dark-color: #000000;
$light-color: #ffffff;
$primary-color: #448b44;
$secondary-color: #8dca8d;
$highlight-color: #e2ad26;

$dark-theme-primary-color: #22272e;
$dark-theme-contrast-color: #d8d8d8;
$dark-theme-secondary-color: #30353c;

$light-theme-primary-color: #ffffff;
$light-theme-contrast-color: #2a2f3a;
$light-theme-secondary-color: #eeeeee;
